<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="container">
      <div class="row">
        <div>
          Practice the syntaxis!
          <p class="lead"><span class="small">The purpose of this app is not to explain the concepts and theory of the coding on these technologies, please refer to the subject matter experts to learn from them. It is instead meant to help you to practice the syntaxis of these languages and frameworks as most likely we do not practice all we learned in a daily basis, so take a few minutes to refresh all knowledge that costed hours and hours of hard work, and challenge yourself to do it faster and better everytime.</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body container">
    <form class="form-horizontal row" id="mainContainer"
          novalidate
          (ngSubmit)="save()"
          [formGroup]="questionsForm">
      <fieldset>
        <div class="form-group" [hidden]="!show">
          <div class="checkbox">
            <label>
              <input id="displayQuestions"
                     type="checkbox"
                     formControlName="displayQuestions">
              Display questions
            </label>
          </div>
        </div>

        <div *ngIf="questionsForm.get('displayQuestions').value" id="questionsContainer" class="col-md-8 col offset-md-2">
          <p>Please write the code following the same JS grammatical rules, you can add new lines and spaces.</p>

          <div formArrayName="arrayAnswers" *ngFor="let answerQuestion of arrayAnswers.controls; let i=index">
            <div [formGroupName]="i">
              <div class="form-group"
                   [ngClass]="{'has-error': (answerQuestion.get('answerField').touched ||
                                              answerQuestion.get('answerField').dirty) &&
                                              !answerQuestion.get('answerField').valid }">
                <span class="{{questionsAnswers[i].class}}">{{questionsAnswers[i].subject}}</span> <span class="questionsTopic">{{questionsAnswers[i].questionTopic}}</span><br />
                <label class="control-label h6 question"
                       attr.for="{{ 'answerId' + i }}">
                  <strong>{{i+1}}</strong>.- {{questionsAnswers[i].question}}
                </label>
                <div>
                  <textarea class="form-control codeZone"
                            id="{{ 'answerId' + i }}"
                            formControlName="answerField"
                            rows="{{questionsAnswers[i].rows}}"
                            placeholder="{{questionsAnswers[i].placeholder}}"></textarea>
                  <input id="{{ 'correctAnswerId' + i }}"
                         value="{{questionsAnswers[i].answer}}"
                         type="hidden"
                         formControlName="correctAnswerField">
                  <span class="help-block" *ngIf="(answerQuestion.get('answerField').touched
                                                         || answerQuestion.get('answerField').dirty) &&
                                                         answerQuestion.get('answerField').errors">
                    <span *ngIf="answerQuestion.get('answerField').errors.match">
                      {{questionsAnswers[i].errorMessage}}
                    </span>
                  </span>
                  <div class="smallLabel">
                    <label attr.for="{{ 'showHideAnswer' + i }}">Show answer</label>
                    <input type="checkbox" (click)="showAnswer(questionsAnswers[i])" id="{{ 'showHideAnswer' + i }}" />
                  </div>
                  <pre *ngIf="questionsAnswers[i].mostrar" class="tipAnswer rounded">{{questionsAnswers[i].answer}}</pre>
                </div>
              </div>
            </div>
            <br />
          </div>
          <div [hidden]="!questionsForm.valid" class="alert alert-success questionsCompleted" role="alert">
            <strong>Well done!</strong> You successfully completed all questions of the quiz.
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button [hidden]="!show" class="btn btn-primary"
                      type="submit"
                      [disabled]="!questionsForm.valid">
                Save
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<!--
<br>Dirty: {{ questionsForm.dirty }}
<br>Touched: {{ questionsForm.touched }}
<br>Valid: {{ questionsForm.valid }}
<br>Value: {{ questionsForm.value | json }}
<br>&nbsp;
    -->
