<div class="panel panel-primary">
    <div class="panel-heading">
        Sign Up!
    </div>

    <div class="panel-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="save()"
              [formGroup]="questionsForm">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-8 checkbox" >
                        <label>
                            <input id="displayQuestions"
                                   type="checkbox"
                                   formControlName = "displayQuestions" >
                            Display questions
                        </label>
                    </div>
                </div>                
                <div *ngIf="questionsForm.get('displayQuestions').value">                    
                    <div formArrayName="arrayAnswers" *ngFor="let answerQuestion of arrayAnswers.controls; let i=index">
                        <div [formGroupName]="i">
                            <div class="form-group"
                                 [ngClass]="{'has-error': (answerQuestion.get('answerField').touched ||
                                              answerQuestion.get('answerField').dirty) &&
                                              !answerQuestion.get('answerField').valid }">
                                <label class="col-md-12 control-label"
                                       attr.for ="{{ 'ratingId' + i }}">{{questionsAnswers[i].question}}</label>
                                <div class="col-md-8">
                                    <textarea class="form-control"
                                           id="{{ 'ratingId' + i }}" 
                                           type="number"
                                           formControlName="answerField"></textarea>
                                    <span class="help-block" *ngIf="(answerQuestion.get('answerField').touched
                                                         || answerQuestion.get('answerField').dirty) &&
                                                         answerQuestion.get('answerField').errors">
                                        <span *ngIf="answerQuestion.get('answerField').errors.range">
                                            {{questionsAnswers[i].errorMessage}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="!questionsForm.valid">
                                Save
                            </button>
                        </span>
                  
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<br>Dirty: {{ questionsForm.dirty }} 
<br>Touched: {{ questionsForm.touched }}
<br>Valid: {{ questionsForm.valid }}
<br>Value: {{ questionsForm.value | json }}
<br>&nbsp;