<div class="panel panel-primary">
    <div class="panel-heading">
       Practice the syntaxis!
    </div>

    <div class="panel-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="save()"
              [formGroup]="questionsForm">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-8 checkbox">
                        <label>
                            <input id="displayQuestions"
                                   type="checkbox"
                                   formControlName="displayQuestions">
                            Display questions
                        </label>
                    </div>
                </div>
                <div *ngIf="questionsForm.get('displayQuestions').value">
                    <div formArrayName="arrayAnswers" *ngFor="let answerQuestion of arrayAnswers.controls; let i=index">
                        <div [formGroupName]="i">
                            <div class="form-group"
                                 [ngClass]="{'has-error': (answerQuestion.get('answerField').touched ||
                                              answerQuestion.get('answerField').dirty) &&
                                              !answerQuestion.get('answerField').valid }">
                                <label class="col-md-12 control-label"
                                       attr.for="{{ 'answerId' + i }}">{{questionsAnswers[i].question}}</label>
                                <div class="col-md-8">
                                    <textarea class="form-control"
                                              id="{{ 'answerId' + i }}"                                              
                                              formControlName="answerField"></textarea>

                                    
                                    <input class="form-control"
                                              id="{{ 'correctAnswerId' + i }}"
                                              value="{{questionsAnswers[i].answer}}"                                      
                                              type="hidden"
                                              formControlName="correctAnswerField">

                                    <span class="help-block" *ngIf="(answerQuestion.get('answerField').touched
                                                         || answerQuestion.get('answerField').dirty) &&
                                                         answerQuestion.get('answerField').errors">
                                        <span *ngIf="answerQuestion.get('answerField').errors.match">
                                            {{questionsAnswers[i].errorMessage}}
                                        </span>
                                    </span>

                                  <!--Added to show or hide answer-->
                                  <label>{{questionsAnswers[i].mostrar? 'Hide': 'Show'}} answer</label>
                                  <input type="checkbox" (click)="showAnswer(questionsAnswers[i])"/>
                                  
                                  <p *ngIf="questionsAnswers[i].mostrar">{{questionsAnswers[i].answer}}</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="!questionsForm.valid">
                                Save
                            </button>
                        </span>

                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<br>Dirty: {{ questionsForm.dirty }} 
<br>Touched: {{ questionsForm.touched }}
<br>Valid: {{ questionsForm.valid }}
<br>Value: {{ questionsForm.value | json }}
<br>&nbsp;